$backgr-top: #1f2423;
$color-nav: #89939c;
$backgr-movies: #f53b4a;
$color-h2p: #c9c7c5;
$color-line: #9ca0a1;
$color-gray: gray;
$color-white: white;
$color-contacts: #5ba0cf;
$col: black;
$scale: 1.1;

$main-padding: 8em 3%;